/* Personal variables */
:root {
    --tr-main-bg: #7fffd4;
    --tr-second-bool: #0f4081;
}

.tr-main-bg-color {
    background-color: var(--tr-main-bg);
}

::-webkit-scrollbar {
    display: none;
}

/*#region Content  */

main {
    height: 80vh;
}

header {
    height: 100px;
}

footer {
    height: auto;
}

#grid {
    height: 70vh;
    overflow-y: auto;
    position: relative;
}

#grid .cell {
    width: 10%;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
}

#grid .cell.even,
#grid .cell.odd {
    cursor: default;
}

.even {
    background-color: var(--tr-second-bool);
    color: white;
    transition: background-color .5s, color 1s;
}

.odd {
    background-color: yellow;
    transition: background-color .5s;
}

/*#endregion Content  */

/*#region DEBUGGER  */
.debug header,
.debug footer {
    min-height: 100px;
}

.debug main {
    min-height: 500px;
}

.debug #grid {
    min-height: 300px;
    background-color: purple;
}

/*#endregion DEBUGGER  */